.Dashboards-Page {
    display: 'flex';
    flex-direction: column;
    align-items: 'center';
    justify-content: 'center';

    background-color: white;
}

.dashboards-page-header {
    text-align: center;
    margin-top: 10px;
}

.dashboards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 40px; /* spacing between rows and columns */
    margin: 20px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: black;

    border: 2px solid black;
    padding: 20px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between; /* push left vs right */
    align-items: center;
    padding: 5px;
    font-size: 20px;
    width: 100%;
}

.dashboard-header-left-items {
    color: black;
    text-decoration: underline;
}

.dashboard-header-right-group {
    display: flex;
    gap: 4px; /* tighter spacing between buttons */
    justify-content: flex-end;
}

.dashboard-header-right-items {
    color: blue;
    margin: 0; /* remove extra spacing */
}

.dashboard-items {
    margin-top: 20px;
}

.dashboard-item {
    display: flex;
    margin: 10px;
    white-space: nowrap;

    font-size: 16px;
    text-align: left;

    background-color: white;
    color: black;
}

.dashboard-item-index {
    width: 3ch; /* 3 characters */
    padding-right: 1ch;
    text-align: center;
}

.dashboard-item-playlist-name {
    width: 35ch; /* 35 characters */
    padding-right: 2ch;
    text-align: left;
    overflow: hidden;
}

.dashboard-item-stat-data {
    width: 20ch; /* 6 characters */
    padding-right: 1ch;
    text-align: left;
}

.dashboard-item-graph-data {
    /* width: 100ch;
    padding-right: 1ch;
    text-align: left; */
    margin-left: 0px;
}