.insights-header {
    text-align: center;
    font-size: 25px;
}

.playlist-stats-and-scores {
    text-align: center;
}

.stats-group {
    font-size: 16px;
}

.stats-group table {
    margin-left: 33%;
}

.playlist-song-data table {
    display: 'flex';
    flex-direction: column;
    align-items: 'center';
    justify-content: 'center';

    border-collapse: separate;   /* allows spacing */
    border-spacing: 10px 10px;   /* horizontal | vertical spacing */

    border-style: solid;
    border-color: black;
    border-width: 1px;

    margin: 10px;

    background-color: white;
    color: black;
}

.playlist-song-data th {
    text-align: left;
}

.playlist-song-data td {

}