.backToPlaylistButton {
    margin: 15px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--header-bg, #282c34);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.insights-header {
    text-align: center;
    font-size: 25px;
}

.playlist-stats-and-scores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.stats-group {
    width: 90%;
    margin: 0 auto;
    border: 3px solid black;
    background-color: #282c34
}

.stats-group h3 {
    text-align: center;
    font-size: 22px;
    margin: 20px 0 15px 0;
    color: white;
}

.stats-group-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 50px;
    margin-bottom: 20px;
    padding: 20px 42px 20px 18px;
    box-sizing: border-box;
}

.stat-box {
    border: 2px solid #333;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    background-color: #63d471;
}

.stat-box-title {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.stat-box-value {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 35px;
}

.stat-box-score {
    display: flex;
    justify-content: right;
    font-size: 14px;
    color: #666;
}

.insights-total-score {
    min-width: 300px;
    flex-basis: calc(46% - 10px);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.playlist-song-data {
    width: 95%;
    margin: 30px auto;
    border: 3px solid black;
}

.playlist-song-data table {
    /* Use base table styles for consistency (if needed, apply .base-table) */
    border-collapse: separate;   /* allows spacing */
    border-spacing: 10px 10px;   /* horizontal | vertical spacing */
    /* background-color: #d0ffd6; */
}

.playlist-song-data th {
    text-align: left;
}
