.Dashboard-Page {
    display: 'flex';
    flex-direction: column;
    align-items: 'center';
    justify-content: 'center';

    background-color: white;
    color: green;
}

.dashboard-page-header {
    text-align: center;
    margin-top: 10px;
}

.dashboard {
    display: 'flex';
    flex-direction: column;
    align-items: 'center';
    justify-content: 'center';
    margin: 50px 14% 50px 14%;

    background-color: white;
    color: black;

    border-style: solid;
    border-width: 2px;
}

.dashboard-header {
    display: 'in-line';
    overflow: 'hidden';
    flex-direction: 'column';
    justify-content: 'space-between';
    align-items: 'center';
    padding: 10px 10px 15px 10px;
    font-size: 20px;
}

.dashboard-header-left-items {
    color: black;
    float: left;
}

.dashboard-header-right-items {
    color: blue;
    float: right;
}

.dashboard-items {
    margin-top: 20px;
}

.dashboard-item {
    display: flex;
    margin: 10px;
    white-space: nowrap;

    font-size: 15px;
    text-align: left;

    background-color: white;
    color: black;
}

.dashboard-item-index {
    width: 3ch; /* 3 characters */
    padding-right: 1ch;
    text-align: center;
}

.dashboard-item-playlist-name {
    width: 35ch; /* 35 characters */
    padding-right: 2ch;
    text-align: left;
    overflow: hidden;
}

.dashboard-item-stat-data {
    width: 6ch; /* 6 characters */
    padding-right: 1ch;
    text-align: left;
}