.Dashboard-Page {
    display: 'flex';
    flex-direction: column;
    align-items: 'center';
    justify-content: 'center';

    background-color: white;
    color: green;
}

.dashboard {
    display: 'flex';
    flex-direction: column;
    align-items: 'center';
    justify-content: 'center';
    margin: 50px 15% 50px 15%;

    background-color: white;
    color: black;

    border-style: solid;
    border-width: 2px;
}

.dashboard-header {
    display: 'in-line';
    overflow: 'hidden';
    flex-direction: 'column';
    justify-content: 'space-between';
    align-items: 'center';
    padding: 10px;
    font-size: 20px;
}

.dashboard-header-left-items {
    color: black;
    float: left;
}

.dashboard-header-right-items {
    color: blue;
    float: right;
}

.dashboard-items {
    margin-top: 20px;
}

.dashboard-item {
    display: flex;
    margin: 10px;

    font-size: 15px;
    text-align: left;

    background-color: white;
    color: black;
}

.dashboard-playlist-data {

}

.dashboard-stat-data {
    margin-left: 10px;
}